// Columns
.content_row {
  @media #{$mediaMD} {
    &.two_column_row {
      display: flex;
      justify-content: space-between;

      .content_col {
        &:first-child {
          flex-grow: 1;
          padding-right: $page_padding;
        }

        &:last-child {
          width: 48%;
        }
      }
    }
  }
}

// Image Block
.block_image {
  margin-bottom: 1em;
}

.block_image_figure {
  img {
    @include img_fullwidth;
  }

  figcaption {
    font-size: 14px;
    padding: 0.2em 0;
  }
}


// Text Block
