.content_main {
  position: relative;
  z-index: 100;
  padding-top: $header_height;

  @media #{$mediaMD} {
    padding-top: $header_height_med;
  }

  @media #{$mediaLG} {
    padding-top: $header_height_lg;
  }
}

.content_wrapper {
  @include inner_content;
  margin: 15px 0;
}

.content_medium {
  width: 100%;
  max-width: 980px;
  background: rgba($white,0.9);
  padding: $page_padding;
}
