.content_main {
  position: relative;
  z-index: 100;
  padding-top: $header_height;

  @media #{$mediaMD} {
    padding-top: $header_height_med;
  }

  @media #{$mediaLG} {
    padding-top: $header_height_lg;
  }
}
