.content_main {
  position: relative;
  z-index: 100;
  padding-top: $header_height;

  @media #{$mediaMD} {
    padding-top: $header_height_med;
  }

  @media #{$mediaLG} {
    padding-top: $header_height_lg;
  }
}

.content_wrapper {
  @include inner_content;
  margin-top: 15px;
  margin-bottom: 15px;
}

.content_medium {
  width: 100%;
  max-width: 980px;
  background: rgba($white,0.9);
  padding: $page_padding;
}

.content_wide {
  @extend .content_medium;
  max-width: $page_width + ($page_padding * 2);
}
