.frontpage_wrapper {
  min-height: calc(100vh - #{$header_height});
  position: relative;

  display: flex;
  align-items: center;
}

.frontpage_inner {
  width: 100%;
  background: rgba($black,0.75);
  margin-bottom: $header_height / 2;
  padding: 30px 0;
}

.frontpage_content {
  @include inner_content;
  color: $white;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

.frontpage_scroll {
  width: 100%;

  position: absolute;
  left: 0;
  bottom: $page_padding;

  color: $white;
  display: block;
  font-size: 14px;
  text-align: center;
  text-decoration: none;
  text-shadow: 1px 1px 3px $black;
  text-transform: uppercase;
}

@media #{$mediaMD} {
  .frontpage_wrapper {
    min-height: calc(100vh - #{$header_height_med});
  }

  .frontpage_inner {
    padding: 40px;
    margin-bottom: $header_height_med / 2;
  }

  .frontpage_content {
    font-size: 48px;
  }
}

@media #{$mediaLG} {
  .frontpage_wrapper {
    min-height: calc(100vh - #{$header_height_lg});
  }

  .frontpage_inner {
    margin-bottom: $header_height_lg / 2;
  }

  .frontpage_content {
    font-size: 56px;
  }
}


// Homeage Sections
.frontpage_section {
  @include theme;
}
