.frontpage_content {
  background: rgba($black,0.75);
  color: $white;
  margin-top: 70px;
  padding: 30px 0;
}

.frontpage_inner {
  @include inner_content;
  font-size: 32px;
  font-weight: 700;
  text-align: center;
}

@media #{$mediaMD} {
  .frontpage_content {
    margin-top: 100px;
    padding: 40px;
  }

  .frontpage_inner {
    font-size: 48px;
  }
}

@media #{$mediaLG} {
  .frontpage_content {
    margin-top: 140px;
  }

  .frontpage_inner {
    font-size: 56px;
  }
}
