$header_height: 80px;
$header_height_med: 93px;
$header_height_lg: 108px;

.header {
  width: 100%;
  height: $header_height;
  background: $black;
  position: fixed;
  z-index: 99998;

  @media #{$mediaMD} {
    height: $header_height_med;
  }

  @media #{$mediaLG} {
    height: $header_height_lg;
  }
}

.header_inner {
  @include inner_content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.header_logo {
  width: 130px;
  padding: 25px 0;

  @media #{$mediaMD} {
    width: 180px;
  }

  @media #{$mediaLG} {
    width: 243px;
  }

  svg {
    width: 100%;
    height: auto;
    display: block;
  }

  .logo_re {
    fill: $gray_10;
    transition: fill $speed * 2;
  }

  .logo_think {
    fill: $yellow;
    transition: fill $speed * 2;
  }

  a {
    &:hover {
      .logo_re,
      .logo_think {
        fill: $white;
      }
    }
  }
}
