.header {
  background: $black;
}

.header_inner {
  @include inner_content;
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.header_logo {
  width: 243px;
  padding: 25px 0;

  svg {
    width: 100%;
    height: auto;
    display: block;
  }

  .logo_re {
    fill: $gray_10;
    transition: fill $speed * 2;
  }

  .logo_think {
    fill: $yellow;
    transition: fill $speed * 2;
  }

  a {
    &:hover {
      .logo_re,
      .logo_think {
        fill: $white;
      }
    }
  }
}
