@mixin clearfix {
  &:after {
    height: 0;

    clear: both;
    content: "";
    display: table;
  }
}

@mixin inner_content {
  width: 100%;
  max-width: $page_width + ($page_padding * 2);
  margin-right: auto;
  margin-left: auto;
  padding: 0 $page_padding;

  @include clearfix;

  img {
    display: block;
    
    &.alignleft {
      float: left;
    }

    &.alignright {
      float: right;
    }

    &.aligncenter {
      display: block;
      margin: auto;
    }
  }
}

@mixin letterspacing($kern: 0) {
  letter-spacing: ($kern / 1000) * 1em;
}

@mixin visually_hide {
  position: absolute;
  left: -999999px;
}

@mixin img_fullwidth {
  width: 100%;
  height: auto;
  display: block;
}

@mixin img_maxwidth($maxwidth) {
  @include img_fullwidth;
  max-width: $maxwidth;
}

@mixin img_maxwidth_center($maxwidth) {
  @include img_maxwidth($maxwidth);
  margin: auto;
}
