@mixin inner_content {
  width: 100%;
  max-width: $page_width + ($page_padding * 2);
  margin-right: auto;
  margin-left: auto;
  padding: 0 $page_padding;
}

@mixin letterspacing($kern: 0) {
  letter-spacing: ($kern / 1000) * 1em;
}

@mixin visually_hide {
  position: absolute;
  left: -999999px;
}
